@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #162444 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Alexandria', sans-serif !important;
    color: #e6eff3 !important;
}

a:link {
    color: #1D88EC;
    text-decoration: none;
}

a:visited {
    color: #1D88EC;
    text-decoration: none;
}

a:hover {
    color: #7ccdff;
    text-decoration: none;
}

.navbar {
    background-color: #0b111b !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.fa-bars, .fa-bars:visited {
    color:#e7e7e7;
    font-size: 100%;
}

.fa-bars:hover {
    color:#5e5e5e;
    transition: 0.2s;
}

nav ul li a {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500 !important;
    font-size: 125% !important;
    background-color: transparent;
    margin-right: 5px !important;
    color: #9b9b9b !important;
}

nav ul li a:hover {
    transition: 0.2s;
    color: #e7e7e7 !important;
}

nav ul li a:link {
    color: #e7e7e7;
}

nav ul li a:visited {
    color: #e7e7e7;
}

nav ul a.active {
    color: #e7e7e7 !important;
}

nav ul li a.invite {
    transition: 0.3s;
    background-color: #39a1e2;
    color: #ffffff !important;
    box-shadow: 0 0 10px #1985c0;
    padding-left: 17px !important;
    padding-right: 17px !important;
    margin-right: 0 !important;
    border-radius: 10px;
}

nav ul li a.invite:hover {
    transition: 0.3s;
    box-shadow: 0 0 15px #3ba8ec;
    text-shadow: 0 0 10px #d8d8d8;
}

.nav-icon {
    height: 25px;
    margin-right: 8px;
    margin-left: -5px;
    display: inline-block;
    position: relative;
    top: -1px;
}

hr {
    border: none;
    height: 2px;
    background-color: #e7e7e7;
    margin-bottom: 50px !important;
}

.anim {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.anim.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.tabcontent {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
}

.moderation-showcase {
    background-image: linear-gradient(to top, #b92511, #79100d);
    box-shadow: 0 0 20px #79100d;
}

.music-showcase {
    background-image: linear-gradient(to top, #cc8500, #b3490c);
    box-shadow: 0 0 20px #b3490c;
}

.config-showcase {
    background-image: linear-gradient(to top, #16942d, #0c6614);
    box-shadow: 0 0 20px #0c6614;
}

.misc-showcase {
    background-image: linear-gradient(to top, #7e1cc4, #4b0e81);
    box-shadow: 0 0 20px #4b0e81;
}

.changelog-showcase {
    background-color: #202020;
    border: 2px solid #181818;
}

h1 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 600 !important;
    font-size: 300% !important;
    color: #e6eff3 !important;
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
}

h2 {
    margin-top: 30px !important;
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    font-size: 220% !important;
    padding-bottom: 0px;
    color: #e6eff3 !important;
    text-align: center;
}

h3 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    font-size: 200% !important;
    padding-bottom: 0px;
    color: #e6eff3 !important;
    text-align: center;
}

h3.changelog {
    font-size: 150% !important;
    margin-bottom: 0 !important;
}

h4 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 400 !important;
    font-size: 100% !important;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #e6eff3 !important;
    text-align: center;
}

.changelog-showcase hr {
    height: 2px;
    margin-top: 10px;
}

.command-showcase {
    color: #ffffff !important;
    font-size: 100% !important;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
    font-weight: 300 !important;
    text-align: left;
}

img.gif {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 10px #000000;
    margin-bottom: 20px;
    display: block;
    max-width: 90%;
}

footer {
    padding-top: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    background-color: #0b111b;
}

p {
    font-family: 'Alexandria', sans-serif;
    text-align: center;
    color: #e6eff3;
    margin-bottom: 0 !important;
}

p#changelog {
    margin-bottom: 0px;
}

p.changelog {
    font-weight: 300;
    font-size: 95%;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0px;
}

#version {
    margin-bottom: 0;
}

p.footer-links {
    margin-bottom: 10px;
    font-weight: 300;
}

p.footer-links, p#version {
    font-size: 95%;
    color: #cacecf;
    display: inline-block;
    margin-right: 5px;
}

#pInput {
    font-family: 'Alexandria', sans-serif;
    background-color: #202020;
    border: 2px solid #181818;
    font-size: 105%;
    font-weight: 400;
    color: #e6eff3 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 210px;
    text-align: center;
}

#pInput::placeholder {
    color: #b3b3b3;
}

#pInput:focus {
    background-color: #141414;
    border: 2px solid #0e0e0e;
}

code {
    color: #d5d9db !important;
    font-size: 85% !important;
    background-color: #111111;
    padding: 3px;
    border-radius: 4px;
}

code.optional {
    color: #a7a7a7 !important;
}

table.commands {
    border-spacing: 0;
    table-layout: auto;
    margin: 0 auto;
    max-width: 55%;
    border-collapse: collapse !important;
    border-style: hidden !important;
    border-radius: 15px;
    overflow: hidden;
}

table.legend {
    margin-top: 0 !important;
    padding-top: 0 !important;
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0 !important;
}

caption {
    margin-top: 5px;
    color: #e6eff3 !important;
}

caption p {
    margin-top: 5px;
}

table.commands th, table.commands td {
    padding: 10px !important;
    border: 2px solid #222222 !important;
    color: #e6eff3 !important;
    font-family: 'Alexandria', sans-serif;
    vertical-align: middle;
}

th {
    background-color: #111111 !important;
    font-size: 110% !important;
    font-weight: 500 !important;
    text-align: center !important;
}

td {
    background-color: #181818 !important;
    font-weight: 300 !important;
    font-size: 95% !important;
}

td:nth-child(3) {
    text-align: center;
    padding: 10px !important;
}

td:nth-child(2) {
    text-align: left;
    padding: 10px !important;
}

td:nth-child(1) {
    text-align: left;
    font-weight: 400 !important;
}

.command-column, .description-column, .required-column {
    background-color: #000000 !important;
}

.command-column, .required-column {
    width: 25%;
}

table.legend .command-column, table.legend .required-column {
    width: 35%;
}

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #1d1d1d !important;
}

.tooltip .tooltip-inner {
    font-family: 'Alexandria', sans-serif;
    color: #e6eff3;
    padding: 8px;
    font-size: 100%;
    max-width: 250px;
    font-weight: 300 !important;
    background-color: #111111;
    border: 1px solid #222222;
}

.tooltip b {
    font-weight: 500 !important;
}

.tooltip .tooltip-arrow::before {
    border-top-color: #111111;
}

@media (max-width: 767px) {
    .table-responsive {
        overflow-x: visible;
    }
    
    table.commands {
        min-width: 85%;
    }
    
    table.commands thead {
        display: none;
    }
    
    table.commands th {
        display: block;
        width: 100%;
        text-align: center;
        border: none !important
    }
    
    table.commands tr {
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid #111111 !important;
    }
    
    table.commands td {
        border: none !important;
        border-bottom: 2px solid #222222 !important;
        display: block;
        text-align: left;
    }
    
    table.commands td:nth-child(3)::before {
        content: "Szükséges: ";
        font-weight: 400;
    }

    table.commands td:nth-child(3), table.commands tr:last-child {
        border-bottom: none !important;
    }
}