@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a2949 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:link {
    color: #1D88EC;
    text-decoration: none;
}

a:visited {
    color: #1D88EC;
    text-decoration: none;
}

a:hover {
    color: #7ccdff;
    text-decoration: none;
}

.navbar {
    background-color: #0b111b !important;
    margin-bottom: 30px !important;
    padding: 10px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.fa-bars, .fa-bars:visited {
    color:#e7e7e7;
    font-size: 100%;
}

.fa-bars:hover {
    color:#5e5e5e;
    transition: 0.2s;
}

nav ul li a {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500 !important;
    font-size: 115% !important;
    border-radius: 8px;
    background-color: transparent;
    color: #aaaaaa !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 5px;
}

nav ul li a:hover {
    background-color: #363636;
    transition: 0.2s;
    color: #e7e7e7 !important;
}

nav ul li a:link {
    color: #e7e7e7;
}

nav ul li a:visited {
    color: #e7e7e7;
}

nav ul a.active {
    background-color: #e7e7e7;
    color: #070510 !important;
}

nav ul a.active:hover {
    background-color: #e7e7e7;
    color: #070510 !important;
}

nav ul li a.invite {
    transition: 0.2s;
    background-color: #39a1e2;
    color: #ffffff !important;
    box-shadow: 0 0 10px #1985c0;
}
nav ul li a.invite:hover {
    transition: 0.2s;
    box-shadow: 0 0 15px #3ba8ec;
}

.nav-icon {
    height: 25px;
    margin-right: 8px;
    margin-left: -5px;
    display: inline-block;
    position: relative;
    top: -1px;
}

.title {
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 3px;
    background-color: #e7e7e7;
}

.tabcontent {
    border-top: none;
    animation: fadeEffect 0.5s;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    margin-bottom: 60px;
}

.moderation-showcase {
    background-image: linear-gradient(to top, #b92511, #79100d);
    box-shadow: 0 0 20px #79100d;
}

.music-showcase {
    background-image: linear-gradient(to top, #cc8500, #b3490c);
    box-shadow: 0 0 20px #b3490c;
}

.config-showcase {
    background-image: linear-gradient(to top, #16942d, #0c6614);
    box-shadow: 0 0 20px #0c6614;
}

.misc-showcase {
    background-image: linear-gradient(to top, #7e1cc4, #4b0e81);
    box-shadow: 0 0 20px #4b0e81;
}

.changelog-showcase {
    background-color: #202020;
    border: 2px solid #181818;
}

h1 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 600 !important;
    font-size: 250% !important;
    color: #e6eff3 !important;
    text-align: center;
}

h2 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    font-size: 200% !important;
    padding-bottom: 0px;
    color: #e6eff3 !important;
    text-align: center;
}

h2.changelog {
    font-size: 150% !important;
    margin-bottom: 0 !important;
}

.changelog-showcase hr {
    height: 2px;
    margin-top: 10px;
}

h3 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 400 !important;
    font-size: 100% !important;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #e6eff3 !important;
    text-align: center;
}

p.command-showcase {
    color: #ffffff !important;
    font-size: 100% !important;
    padding-bottom: 0px;
    padding-top: 1px;
    margin-bottom: 0px;
    font-weight: 300 !important;
    text-align: center;
}

img.gif {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 10px #000000;
    margin-bottom: 20px;
    display: block;
    max-width: 90%;
}

footer {
    padding-top: 10px;
    margin-top: auto;
    padding-bottom: 0;
    background-color: #0b111b;
}

p {
    font-family: 'Alexandria', sans-serif;
    text-align: center;
    color: #e6eff3;
}

p.changelog {
    font-weight: 300;
    font-size: 95%;
    text-align: left;
    padding-left: 15px;
}

#version {
    margin-bottom: 0;
}

p.footer-links {
    margin-bottom: 10px;
    font-weight: 300;
}

p.footer-links, p#version {
    font-size: 95%;
    color: #cacecf;
    display: inline-block;
    margin-right: 5px;
}

#pInput {
    font-family: 'Alexandria', sans-serif;
    background-color: #0b111b;
    font-size: 105%;
    font-weight: 400;
    color: #e6eff3 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    width: 210px;
    text-align: center;
}

#pInput::placeholder {
    color: #b3b3b3;
}

#pInput:focus {
    background-color: #090e16;
}

code {
    color: #d5d9db !important;
    font-size: 85% !important;
    background-color: #111111;
    padding: 3px;
    border-radius: 4px;
}

code.optional {
    color: #a7a7a7 !important;
}

table.commands {
    border-spacing: 0;
    table-layout: auto;
    margin: 0 auto;
    max-width: 55%;
    border-collapse: collapse !important;
    border-style: hidden !important;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 40px;
}

table.legend {
    margin-top: 15px;
}

caption {
    margin-top: 9px;
    color: #e6eff3 !important;
}

table.commands th, table.commands td {
    padding: 10px !important;
    border: 2px solid #222222 !important;
    color: #e6eff3 !important;
    font-family: 'Alexandria', sans-serif;
    vertical-align: middle;
}

th {
    background-color: #111111 !important;
    font-size: 110% !important;
    font-weight: 500 !important;
    text-align: center !important;
}

td {
    background-color: #181818 !important;
    font-weight: 300 !important;
    font-size: 95% !important;
}

td:nth-child(3) {
    text-align: center;
    padding: 10px !important;
}

td:nth-child(1) {
    text-align: left;
    font-weight: 400 !important;
}

.command-column, .description-column, .required-column {
    background-color: #000000 !important;
}

.command-column, .required-column {
    width: 25%;
}

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #1d1d1d !important;
}

.tooltip .tooltip-inner {
    font-family: 'Alexandria', sans-serif;
    color: #e6eff3;
    padding: 8px;
    font-size: 100%;
    max-width: 250px;
    font-weight: 300 !important;
    background-color: #111111;
    border: 1px solid #222222;
}

.tooltip b {
    font-weight: 500 !important;
}

.tooltip .tooltip-arrow::before {
    border-top-color: #111111;
}

@media (max-width: 767px) {
    .table-responsive {
        overflow-x: visible;
    }
    
    table.commands {
        min-width: 85%;
    }
    
    table.commands thead {
        display: none;
    }
    
    table.commands th {
        display: block;
        width: 100%;
        text-align: center;
        border: none !important
    }
    
    table.commands tr {
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid #111111 !important;
    }
    
    table.commands td {
        border: none !important;
        border-bottom: 2px solid #222222 !important;
        display: block;
        text-align: left;
    }
    
    table.commands td:nth-child(3)::before {
        content: "Szükséges: ";
        font-weight: 400;
    }

    table.commands td:nth-child(3), table.commands tr:last-child {
        border-bottom: none !important;
    }
}