@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to top, #202020, #0f212e);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
}

article {
    flex: 1;
}

th {
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    font-size: 37px;
    padding-top: 25px;
    padding-bottom: 0px;
    color: #e6eff3;
}

img.gif {
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 30px #000000;
}

img.icon {
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}

img.icon:hover {
    opacity: 0.5;
    transition: opacity 0.2s;
}

table.mod {
    background-image: linear-gradient(to top, #b92511, #79100d);
}

table.music {
    background-image: linear-gradient(to top, #cc8500, #b3490c);
}

table.custom {
    background-image: linear-gradient(to top, #16942d, #0c6614);
}

table.config {
    background-image: linear-gradient(to top, #206ccf, #084094);
}

table.misc {
    background-image: linear-gradient(to top, #7e1cc4, #4b0e81);
}

table.feature {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 55px;
    clear: left;
}

hr {
    margin-top: 50px;
    width: 850px;
}

table.footer {
    margin-bottom: 0;
}

td {
    font-family: 'Alexandria', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    padding-bottom: 8px;
    padding-top: 10px;
    color: #e6eff3;
}

td.alcim {
    font-size: 16px;
    padding-bottom: 7px;
    padding-top: 0px;
}

td.felsorol {
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: 300;
}

td.footer {
    font-size: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: 300;
}

td.parancs {
    font-size: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: 400;
}

td.elso {
    padding-top: 10px;
}

td.utolso {
    padding-bottom: 25px;
}

td.verzio {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 15px;
}

p {
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

p.verzio {
    font-weight: 300; 
}

.tab {
    position: sticky;
    top: 13px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

button.tablinks {
    background-color: #0f0f0f;
    float: right;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.2s;
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #e6eff3;
    border-radius: 10px;
    margin-right: 10px;
    line-height: 25px;
}

button.invite {
    background-image: linear-gradient(to top right, #3ba8ec, #1f8ac4);
    color: #ffffff;
}

.tab button:hover {
    background-color: #39393a;
}

.tab button.invite:hover {
    background-image: linear-gradient(to top right, #1f8ac4, #3ba8ec);
    color: #ffffff;
}

.tab button.active {
    background-color: #e7e7e7;
    color: #070510;
}

.tabcontent {
    display: none;
    border-top: none;
    animation: fadeEffect 0.5s;
    padding-top: 20px;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #07050f;
    color: #e6eff3;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
}

#topButton:hover {
    background-color: #e6eff3;
    color: #070510;
}

.collapsible {
    background-color: #0f0f0f;
    color: #e6eff3;
    cursor: pointer;
    padding: 15px;
    width: 280px;
    line-height: 30px;
    border: none;
    text-align: middle;
    outline: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 500;
    font-size: 23px;
    border-radius: 12px;
    transition: 0.2s;
}

.first {
    margin-top: 20px;
}

.collapsible:hover {
    font-size: 25px;
    background-color: #39393a;
}

.collapsible.active {
    font-size: 25px;
    background-color: #39393a;
}

.content {
    display: none;
    background-color: transparent;
}

table.parancsok {
    background-color: #141414;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 13px;
    border-spacing: 0;
    table-layout: fixed;
    width: 1150px;
    overflow: hidden;
}

table.parancsok td {
    text-align: middle;
    padding-left: 10px;
    border: 1px solid #222222;
    line-height: 150%;
    font-size: 15px;
}

td.title {
    background-color: #0c0c0c;
    font-size: 18px;
    font-weight: 500;
}

td.command {
    width: 15%;
}

td.usage {
    width: 20%;
}

td.description {
    width: 30%;
}

td.required {
    width: 15%;
}

#pInput {
    font-family: 'Alexandria', sans-serif;
    background-color: #131313;
    font-size: 17px;
    font-weight: 400;
    color: #e6eff3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    transition: width 0.2s ease-in-out;
    width: 170px;
}

#pInput:focus {
    border: none;
    width: 300px;
    background-color: #303030;
}

table.legend {
    background-color: #141414;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 13px;
    border: 1px solid #222222;
    border-spacing: 0;
    table-layout: fixed;
    width: 300px;
    overflow: hidden;
    margin-top: 75px;
    margin-bottom: 0;
}

table.legend td {
    text-align: middle;
    padding-left: 10px;
    border: 1px solid #222222;
    line-height: 85%;
    font-size: 13px;
}

td.column1 {
    width: 22%;
}

a:link {
    color: #3099DC;
    text-decoration: none;
}

a:visited {
    color: #3099DC;
    text-decoration: none;
}

a:hover {
    color: #65bbf0;
    text-decoration: none;
}